# Clean and Explore Stock Information

In [1]:
import pandas as pd
import missingno
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [11]:
# due to file size, set low_memory to False to alter load order
nasdaq = pd.read_csv("./data/nasdaq_csv.csv",index_col=0, low_memory=False)
nyse = pd.read_csv("./data/nyse_csv.csv",index_col=0, low_memory=False)

### Check the size of both of our datasets

In [12]:
nasdaq.shape, nyse.shape

((8752326, 8), (6994408, 8))

Similar shapes, first noticeable difference is the row count difference. We will confirm below, but one possibility is the NASDAQ dataset goes further back in time despite NYSE having the longer tenure.

In [13]:
nasdaq.head(2)

,Date,Low,Open,Volume,High,Close,Adjusted Close,ticker
0,16-02-1990,0.073785,0.0,940636800.0,0.0798610001802444,0.077257,0.054863,CSCO
1,20-02-1990,0.074653,0.0,151862400.0,0.0798610001802444,0.079861,0.056712,CSCO

In [14]:
nyse.head(2)

         Date   Low  Open   Volume  High  Close  Adjusted Close ticker
0  19-06-1992  15.0  15.0  86000.0  15.0   15.0        3.640341    NXN
1  22-06-1992  15.0  15.0  17000.0  15.0   15.0        3.640341    NXN